PORT = 8080
MONGODB_URI= mongodb+srv://msattack:msattack3181@cluster0.socbg.mongodb.net
ACCESS_TOKEN_SECRET=9db5ebde8e87a7b417ff50572fdc86aeee31c9960c2ceb082d48d5cca8bc3252 //any string
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=6d6455af119ab399a85aae9c04369e10a923fa0c11b3efe3ec11b54e7556e25d //any string
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dwwsh7l9p
CLOUDINARY_API_KEY=416637139365554
CLOUDINARY_API_SECRET=jmty_qtwxwtspRJ_-f4NMgNDVfU
